@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #484848;
}

body, .slide {
    overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 40px);
  box-sizing: border-box;
}

hr {
    width: 100%;
    margin: 0px;
}

.slide{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
}

.head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1572D3;
    align-items: center;
    padding: 12px 32px;
    background: rgba(21, 114, 211, 0.1);
    border-radius: 8px;
}

.head-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    color: #333333;
}


.icon {
    display: grid;
    align-items: center;
}

.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}


.navbar-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: clamp(16px, 2vw, 40px);
    align-items: center;
    justify-content: center;
}

.navbar-menu-item:hover {
    color: #7a7a7a;
    cursor: pointer;
    
}

.navbar-user{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-user-sign-up{
    justify-content: center;
    align-items: center;
    background-color: #1572D3;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
}

.navbar-user-sign-up:hover{
    background-color: #1571d39c;
    color: white;
    cursor: pointer;
}

.navbar-user-sign-in:hover {
    color: #7a7a7a;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 99px;
    padding-bottom: 200px;
    column-gap: 99px;
    position: relative;
    justify-items: flex-start;
}

.content-title{
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
    align-content: start;
    justify-content: flex-end;
    padding-top: 58px; 
    z-index: 5;
}


.content-title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #242424;
}

.content-title-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #272727;

}

.content-image {
    position: absolute;
    right: -50%;
    top: 100px; 
    z-index: 1;
}

.content-image img {
    width: 1048px;
    max-width: none;
}

.search {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 12px 12px 12px 32px;
    margin-bottom: 48px;
    gap: 50px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(19, 94, 172, 0.12);
    border-radius: 12px;;
}

.search-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-info-point {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-left: 24px;
}

.search-info-point-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-info-point-icon{
    padding-right: 16px;
}

.search-info-point-text-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #B6B6B6;
}

.search-button {
    justify-content: center;
    align-items: center;
    background-color: #1572D3;
    border-radius: 8px;
    color: white;
    padding: 10px 51px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.search-button:hover{
    background-color: #1571d39c;
    color: white;
    cursor: pointer;
}

.info-work {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding-top: 86px;
}

.info-work-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    padding-bottom: 80px;
    row-gap: 32px;
}

.info-work-cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin-bottom: 160px;
}

.info-work-cards-item {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    width: 230px;
}

.info-work-cards-item-icon {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-bottom: 40px;
    background: #ECF5FF;
    border-radius: 16px;
}

.info-work-cards-item-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 24px;
}

.info-work-cards-item-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6D6D6D;
}

.info-work-bottom {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.content-choose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 101px;
    padding-top: 92px;
    position: relative;
}

.content-choose-title {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: flex-start;
}

.content-choose-image {
    position: absolute;
    left: -450px;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
}

.content-choose-image img {
    width: 900px;
    max-width: none;
}



.content-choose-title-details {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 24px;
    padding: 56px 0px 91px;
}

.content-choose-title-details-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    align-items: center;
}

.content-choose-title-details-item-icon {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 64px;
    width: 64px;
    background: #ECF5FF;
    border-radius: 16px;

}

.content-choose-title-details-item-text {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;
}

.content-choose-title-details-item-text-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.content-choose-title-details-item-text-desription {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #6D6D6D;
}

.popular {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, auto);
    row-gap: 64px;
    padding: 84px 0px 83px;
}

.popular-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 24px;
}

.popular-car {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 32px;
    width: 100%;
}

.popular-car-card {
    display: grid;
    grid-template-rows: auto 1fr auto;  /* 1fr для description чтобы hr был внизу */
    padding: 24px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 12px 24px rgba(16, 76, 139, 0.16);
    /* убрали justify-content: center */
}

.specifications-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #959595;
    
}

.popular-car-card-image {
    display: grid;
    padding-bottom: 25px;
    width: 100%;        /* было 210px */
    height: 105px;
    align-items: center;
}

.popular-car-card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popular-car-card-description {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #262626;
}

.popular-car-card-description-score {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    font-size: 12px;
    padding: 12px 0px 16px 0px;
}

.popular-car-card-description-specifications {
    display: grid;
    grid-template-columns: auto minmax(71px, 72px);
    column-gap: 16px;
}

.popular-car-card-description-specifications-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
}

.popular-car-card-description-specifications-item .icon {
    margin-right: 5px;
}

.popular-car-card > hr {
    margin: 24px 0px 24px 0px;
    border: 1px solid #E0E0E0;
}

.popular-car-card-buy {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 24px;
}

.popular-car-card-buy-price {
    display: grid;
    grid-template-columns: 1fr auto;
     align-items: center;
}

.card-buy-price-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #292929;
}

.popular-car-card-buy-button {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px;
    background: #1572D3;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.popular-button {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.testimonials {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 80px;
}

.testimonials-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    row-gap: 24px;
}


.testimonials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 40px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 127px;
}

.testimonials-cards-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(16, 76, 139, 0.16);
    border-radius: 24px;
    min-width: 794px; 
}

.testimonials-cards-item-image {
    display: grid;
}

.testimonials-cards-item-info {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.testimonials-cards-item-score {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: 12px;
}

.testimonials-cards-item-score-number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: #383838;
    line-height: 1;
}

.testimonials-cards-item-score .icon{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: flex-start;
    column-gap: 4px;
}
.icon-item {
    display: grid;
    align-items: center;
}

.testimonials-cards-item-comment {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #282828;
    padding: 35px 0 75px;
}

.testimonials-cards-item-data{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 8px;
}

.testimonials-cards-item-data-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #252525;
}

.testimonials-cards-item-data-location {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #838383;
}

.download-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.download-content-text {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 24px;  
    justify-content: flex-start;
    justify-items: flex-start;
    padding: 100px 0 100px;
}


.download-content-text-title {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
}

.download-content-text-title-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #282828;
}

.download-content-title-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #3E3E3E;
}

.download-content-image {
    position: absolute;
    right: -150px;
    bottom: 0px;
    z-index: 1;

}

.download-content-image img {
    width: 550px;
    height: auto;
    max-width: none;
    display: block;
}

.footer {
    background: #051C34;
    padding: 80px 0 40px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1.2fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
    align-items: start;
    align-content: space-between;
}

.footer-logo {
    margin-bottom: 24px;
    filter: brightness(0) invert(1);
}

.footer-contact-list {
    display: grid;
    row-gap: 16px;
}

.contact-item {
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #D6D6D6;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

}

.contact-item img {
    width: 24px; 
    height: 24px; 
    object-fit: contain; 
    flex-shrink: 0; 
}

.footer-group {
    display: grid;
    row-gap: 32px;
}

.footer-menu-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.footer-links {
    display: grid;
    row-gap: 16px; /* GAP из Figma */
}

.footer-links a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #D6D6D6;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-line {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.footer-copyright {
    font-size: 14px;
    color: #D6D6D6;
}
