@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #484848;
}

.slide{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
}

.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: clamp(20px, 5vh, 90px);
    margin-inline: clamp(20px, 10%, 160px);
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}


.navbar-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: clamp(16px, 2vw, 40px);
    align-items: center;
    justify-content: center;
}


.navbar-user{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-user-sign-up{
    justify-content: center;
    align-items: center;
    background-color: #1572D3;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
}



.content{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 99px;
    margin-left: clamp(20px, 10%, 160px);
    column-gap: 99px;
}

.content-title{
    padding-top: 58px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    align-content: start;
}


.content-title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #242424;
}

.content-title-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #272727;

}

.content-image{
    display: grid;
    align-items: center;
    justify-items: start;
    overflow: hidden;
}




