@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #484848;
}

.slide{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
}

.navbar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: clamp(20px, 5vh, 90px);
    margin-inline: clamp(20px, 10%, 160px);
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}


.navbar-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: clamp(16px, 2vw, 40px);
    align-items: center;
    justify-content: center;
}

.navbar-menu-item:hover {
    color: #7a7a7a;
    
}

.navbar-user{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.navbar-user-sign-up{
    justify-content: center;
    align-items: center;
    background-color: #1572D3;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
}

.navbar-user-sign-up:hover{
    background-color: #1571d39c;
    color: white;
    cursor: pointer;
}

.navbar-user-sign-in:hover {
    color: #7a7a7a;
    cursor: pointer;
}

.content{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 99px;
    margin-left: clamp(20px, 10%, 160px);
    column-gap: 99px;
    height: auto;
}

.content-title{
    padding-top: 58px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
    align-content: start;
}


.content-title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: #242424;
}

.content-title-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #272727;

}

.content-image{
    display: grid;
    align-items: center;
    justify-items: start;
    overflow: hidden;
}


.search {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-inline: clamp(20px, 10%, 160px);
    margin-top: 40px;
    margin-bottom: 48px;
    align-items: center;
    padding: 12px 12px 12px 32px;
    gap: 50px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(19, 94, 172, 0.12);
    border-radius: 12px;;
}

.search-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-info-point {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-left: 24px;
}

.search-info-point-text{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.search-info-point-icon{
    padding-right: 16px;
}

.search-info-point-text-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #B6B6B6;
}

.search-button {
    justify-content: center;
    align-items: center;
    background-color: #1572D3;
    border-radius: 8px;
    color: white;
    padding: 10px 51px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.info-work {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding-top: 86px;
}

.info-work-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    padding-bottom: 80px;
}

.info-work-title-head {
    display: grid;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1572D3;
    display: flex;
    align-items: center;
    padding: 16px 32px;

    background: rgba(21, 114, 211, 0.1);
    border-radius: 8px;
}



.info-work-title-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    padding-top: 32px;
    color: #333333;
}

.info-work-cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 128.5px;
    justify-content: center;
    margin-bottom: 160px;
}

.info-work-cards-item {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.info-work-cards-item-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-bottom: 40px;
    background: #ECF5FF;
    border-radius: 16px;
}

.info-work-cards-item-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 24px;
}

.info-work-cards-item-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6D6D6D;
}

.info-work-bottom {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 86px;
}










